*~
*.data
/tmp/
/Makefile.in
/_configs.sed
/aclocal.m4
/build-aux/
/config.h.in
/configure
/include/pvfmm_config.h
/configure.scan

/MakeVariables
/Makefile
/autom4te.cache/
/config.h
/config.log
/config.status
/lib/
/src/.deps/
/src/.dirstamp
/src/*.o
/stamp-h1

